<div class="panel-group">
<div class="panel panael-success">
    <h1>Update User Details</h1>
<%= render 'form' %>
 
<%= link_to 'Show All Users', users_path,class:"btn btn-danger float-right" %>
</div>
</div>
</div>